#overview-div{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100%;
    width: 95%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


.block.overview{
    
    height: 80%;
    max-height: 80%;
    
    max-width: 30%;
    width: 30%;
}

.inner-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
}

.overview-name {
    height: 30%;
    max-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-self: center;
    font-size: 2.5cqh;
    font-weight: 700;
}

.overview-description {
    height: 60%;
    max-height: 60%;
    padding: 2rem;
    font-size: 2cqh;
    font-weight: 400;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

hr {
    width: 100%;
    border-color: var(--accent);
}







.overview-description li::marker{
    color: var(--accent-400);
}

#overview-lang-single {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.overview-lang {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#contact-info-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

#overview-languages {
    
    flex-direction: column;
    justify-content: space-around;

}

.overview-lang-svg {
    display: flex;
    justify-content: center;
    max-height: 70%;
    max-width: 70%;
    height: 10cqmin;
    width: 10cqmin;
}

.overview-lang-svg svg {
    fill: var(--secondary);
}