
{{define "projects"}}
<div class="currentProject topView">
    {{template "project screen".Project}}
</div>
<div class="projectList topView">
    {{template "list panel" .}}
</div>
{{end}}

{{define "project screen"}}
    <div id="title"><h1>{{.Title}}</h1></div>
    <div id="projectimg"><a href="{{.Link}}"><img src="/static/images/projects/{{.Img}}.png" alt="project img"></a></div>
    <div id="description">{{.Description}}</div>
{{end}}


{{ define "list panel"}}
    <div class="list">
        {{range .List}}
            {{template "listed project" .}}
        {{end}}
    </div>
{{end}}


{{define "listed project"}} 
<div class="listedProject">
    <div class="thumbnail"><img src="/static/images/projects/test.svg" alt="project img" width="80" height="80"></div>
    <div class="info">
        <div class="listedTitle"><a href="{{.Link}}"><h2>{{.Title}}</h2></a></div>
        <div class="listedDescrip">{{.Description}}</div>
    </div>

</div>
{{end}}