{{define "welcome"}}
<div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><img src="/static/images/IMG_1954.JPG" alt="meTEMP" width="200" height="200"></div>
        
    </div>
    <div class="row">
        <div class="col-8"><h1>Hey! I'm Chris, your local back-end developer!</h1></div>
        <div class="col-4"></div>
    </div>
    
</div>
    
{{end}}


{{define "about"}}
<div class="about vstack gap-3">
    <div id="story">
        <h3>About Me</h3>
        <p>
            I'm a self taught developer. I started with JavaScript and working on building the front-end, but quickly found my home in the command line. Making a website always gives a sense of accomplishment, but doesn't compare to creating different tools and solving more difficult bugs.
            <br>
            Go is my current passion. It's a language that allows for a quick development time, but also provides features that higher level languages do not have. Errors as values is a prime example. A system level language like zig, rust, or C will be my next language.   
        </p>
        <img src="/static/images/IMG_1954.JPG" alt="meTEMP" width="200" height="200">
    </div>
    <div class="d-flex justify-content-evenly" id="techstack">
        <div>
            <div>
                <h5>Languages</h3>
            </div>
            <div class="d-flex justify-content-evenly">
                <img src="/static/images/logos/Go-Logo_blue.svg" alt="Go"  width="50" height="50">
                <img src="/static/images/logos/js.png" alt="JavaScript" width="50" height="50">
            </div></br>
            <div class="d-flex justify-content-evenly">
                
                <img src="/static/images/logos/html.svg" alt="HTML" width="50" height="50">
                <img src="/static/images/logos/css.svg" alt="CSS" width="50" height="50">
            </div>
            <div class="d-flex justify-content-evenly">
                <img src="/static/images/logos/htmx.svg" alt="HTMX"  width="80" height="80">
            </div>
        </div>
        <div>
            <div>
                <h5>Databases</h5>
            </div>
            <div class="d-flex justify-content-evenly" id="databases">
                <img  src="/static/images/logos/postgresql.svg" alt="SQL" width="50" height="50">
                <img id="logo" src="/static/images/logos/mysql.svg" alt="SQL" width="50" height="50">
            </div>  
        </div>
    </div>
</div>
{{end}}


{{define "projects"}}
    <div class="projects vstack gap-3">
        <div id="curProjects">
            <p>
                Current project:
            </p> 
        </div>
        <div id="prevProjects">
            <p>
                Previous projects:
            </p> 
        </div>
    </div>
{{end}}



{{define "future"}}
<div>
    <p>
        There is always more to learn, but this is a list of concepts and languages I intend to learn.

        Languages: Zig, Rust, or C.

        There are three types of knowns in this world. Known knowns, known unknowns, and unknown unknowns. We dont know the things we dont know. If you are interested in dropping a tip on a concept or language you think I should look into I would love to hear it.
        
        
    </p>
</div>
{{end}}


{{define "contact"}}
    <div><a href="https://github.com/CVilledieu">Github</a></div>
    <div>Email: VilledieuCR@gmail.com</div>
{{end}}

{{define "layout nav"}}
<div>
    <a class="btn btn-secondary" href="/swapstyle" role="button">Swap styles!</a>
</div>
{{end}}


{{define "bottom util"}}
<div class="fixed-bottom ">
    <div class="d-flex flex-row-reverse">
        <div class="yellow p-2" ><a href="https://github.com/CVilledieu"><img id="GitHub logo" src="/static/images/logos/github.svg" alt="GitHub" width="40" height="40"></a></div>
        <div class="yellow p-2" ><a href="/static/other/resume.txt" download><img id="GitHub logo" src="/static/images/resume.svg" alt="GitHub" width="40" height="40"></a></div>
    </div>
</div>
{{end}}