{{define "welcome"}}
<div class="row">
    <div class="d-flex col-6">
        <div class="d-flex align-self-end"><h1>Hey! I'm Chris, your local back-end developer!</h1></div>
    </div>
    <div class="col-6">
        <div ><img src="/static/images/IMG_1954.JPG" alt="meTEMP" width="250" height="250"></div>   
    </div>    
</div>    
{{end}}




{{define "about"}}
<div class="about vstack gap-3">
    <div id="story">
        <h3>About Me</h3>
        <p>
            I'm a self taught developer. I started with JavaScript and working on building the front-end, but quickly found my home in the command line. Making a website always gives a sense of accomplishment, but doesn't compare to creating different tools and solving more difficult bugs.
            <br>
            Go is my current passion. It's a language that allows for a quick development time, but also provides features that higher level languages do not have. Errors as values is a prime example. A system level language like zig, rust, or C will be my next language.   
        </p>
    </div>
    <div class="d-flex justify-content-evenly" id="techstack">
        <div>
            <div>
                <h5>Languages</h3>
            </div>
            <div class="d-flex justify-content-evenly">
                <img src="/static/images/logos/Go-Logo_blue.svg" alt="Go"  width="50" height="50">
                <img src="/static/images/logos/js.png" alt="JavaScript" width="50" height="50">
            </div></br>
            <div class="d-flex justify-content-evenly">
                
                <img src="/static/images/logos/html.svg" alt="HTML" width="50" height="50">
                <img src="/static/images/logos/css.svg" alt="CSS" width="50" height="50">
            </div>
            <div class="d-flex justify-content-evenly">
                <img src="/static/images/logos/htmx.svg" alt="HTMX"  width="80" height="80">
            </div>
        </div>
        <div>
            <div>
                <h5>Databases</h5>
            </div>
            <div class="d-flex justify-content-evenly" id="databases">
                <img  src="/static/images/logos/postgresql.svg" alt="SQL" width="50" height="50">
                <img id="logo" src="/static/images/logos/mysql.svg" alt="SQL" width="50" height="50">
            </div>  
        </div>
    </div>
</div>
{{template "contact"}}

{{end}}


{{define "projects"}}
    <div class="projects vstack gap-3">
        <div>
            <h4>Projects:</h4>
        </div>
        <div id="curProjects">
            <div class="card customCard">
                <img id="project" src="/static/images/logos/{{.Img}}.svg" alt="Project" width="100" height="100">                
                <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <p class="card-text">{{.Description}}</p>
                </div>
            </div>
        </div>
    </div>
{{end}}




{{define "contact"}}
<div class="container">
    <div class="row"><h5>Contact info</h5></div>

    <div class="row">    
        <div class="col-8 grid gap-3">
            <div class="p-2 g-col-6"><a id="logo" href="https://github.com/CVilledieu"><img id="GitHub" src="/static/images/logos/github.svg" alt="GitHub" width="40" height="40"></a></div>
        </div>
        <div class="col-4">Email: VilledieuCR@gmail.com</div>    
    </div>
</div>
{{end}}



{{define "bottom util"}}
<div class="fixed-bottom ">
    <div class="d-flex flex-row-reverse">
        <div class="util p-2" ><a href="https://github.com/CVilledieu"><img id="GitHub" src="/static/images/logos/github.svg" alt="GitHub" width="40" height="40"></a></div>
        <div class="util p-2" ><a href="/static/other/resume.txt" download><img id="GitHub" src="/static/images/resume.svg" alt="GitHub" width="40" height="40"></a></div>
    </div>
</div>
{{end}}