{{define "welcome"}}
<div>
    <div id="About me">
        <p>
            Welcome! The main reason most of you are here is to see my work, so I will keep this short. I am a backend
            developer that has found himself returning to a passion that never fully faded. I started coding as a hobby
            before highschool, but unfortunately the classes I took in college stole my interest. I found myself in the
            fitness world. While there I gained integral communication skills as well as many life lessons.
        </p>
    </div>
    <div id="languages">
        <img id="Go logo" src="/static/images/Go-Logo_blue.svg" alt="Go"  width="40" height="40">
        <img id="JS logo" src="/static/images/js.png" alt="JavaScript" width="40" height="40">
    </div>
</div>
{{end}}