:root {
--text: #f2e3e4;
--background: #262626;
--primary: #d2a3a4;
--secondary: #ededed;
--accent: #54aba8;
--panel-bg: rgba(255, 255, 255, 0.03);

--text-50: #f7eeee;
--text-100: #efdcdd;
--text-200: #dfb9bc;
--text-300: #cf969a;
--text-400: #bf7378;
--text-500: #af5057;
--text-600: #8c4045;
--text-700: #693034;
--text-800: #462023;
--text-900: #231011;
--text-950: #110809;

--background-50: #f2f2f2;
--background-100: #e6e6e6;
--background-200: #cccccc;
--background-300: #b3b3b3;
--background-400: #999999;
--background-500: #808080;
--background-600: #666666;
--background-700: #4d4d4d;
--background-800: #333333;
--background-900: #1a1a1a;
--background-950: #0d0d0d;

--primary-50: #f7eeee;
--primary-100: #eedddd;
--primary-200: #ddbbbb;
--primary-300: #cd9899;
--primary-400: #bc7677;
--primary-500: #ab5456;
--primary-600: #894344;
--primary-700: #673233;
--primary-800: #442222;
--primary-900: #221111;
--primary-950: #110809;

--secondary-50: #f2f2f2;
--secondary-100: #e6e6e6;
--secondary-200: #cccccc;
--secondary-300: #b3b3b3;
--secondary-400: #999999;
--secondary-500: #808080;
--secondary-600: #666666;
--secondary-700: #4d4d4d;
--secondary-800: #333333;
--secondary-900: #1a1a1a;
--secondary-950: #0d0d0d;

--accent-50: #eef7f6;
--accent-100: #ddeeee;
--accent-200: #bbdddc;
--accent-300: #98cdcb;
--accent-400: #76bcb9;
--accent-500: #54aba8;
--accent-600: #438986;
--accent-700: #326765;
--accent-800: #224443;
--accent-900: #112222;
--accent-950: #081111;
}

.prime1 {
    background-color: var(--primary);
}

.prime1.selected {
    background-color: var(--secondary);

}

.accent-tc {
    color: var(--accent-400);
}