.topView{
    background-color: antiquewhite;
    padding: 2vmin;
    margin: .5vmin;
    border-radius: 2vmin;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.pageContainer{
    box-sizing: border-box;
    background-color: rgb(45,45,45);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.UI {
    box-sizing: border-box;
    margin-top: 1.5vmin;
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
    margin-bottom: .5vmin;
    padding: 1vmin;
    background-color: rgb(60,60,60);
    border-radius: 2vmin;
    display: flex;
    height: 97vh;
}

.aboutme{
    flex-basis: 15vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#story {
    flex-grow:1;
}
#links {
    display: flex;
    justify-content: space-evenly;
}





.main{
    flex-basis: 85vw;
    display:flex;
    flex-direction: column;
}

.projects{
    flex-grow: 1;
    display: flex;
}




.currentProject{
    flex-basis: 61vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.projectList{
    flex-basis: 15vw;
    overflow: hidden;
}

#title {
    display: flex;
    justify-content: center;
}
#description{
    flex-grow: 2;
    display: flex;
    justify-content: center;

}
#projectimg{
    flex-grow: 2;
    display: flex;
    justify-content: center;

}

.extras{
    flex-basis: 15vh;
    overflow: hidden;
}

.techstack{
    display: flex;
    justify-content: center;
}


.logo{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}





#SelfPhoto img{
    max-width: 14vw;
    max-height: 50vh;
}

.list{
    display: flex;
    flex-direction: column;

    .listedProject {
        margin-top: 10px;
        
        a {
            text-decoration: none;
            color: black;
        }

        .listBtns {
            padding-top: 5px;
            display: flex;
        }
    }
}
