.topView{
    background-color: antiquewhite;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    color:black;
}

.pageContainer{
    background-color: rgb(45,45,45);
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.UI {
    margin: 30px;
    padding: 20px;
    background-color: rgb(60,60,60);
    border-radius: 20px;
    display: flex;
    min-height: 87vh;
}

.aboutme{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#story {
    flex-grow:1;
}



.main{
    flex-grow: 95;
    display:flex;
    flex-direction: column;
}



.projects{
    flex-grow: 1;
    display: flex;
}

.currentProject{
    flex-grow: 95;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.projectList{
    flex-basis: 20%;
}

#title {
    display: flex;
    justify-content: center;
}
#description{
    flex-grow: 2;
    display: flex;
    justify-content: center;

}
#projectimg{
    flex-grow: 2;
    display: flex;
    justify-content: center;

}

.extras{
    flex-basis: 15%;
}

.techstack{
    display: flex;
    justify-content: center;
}

#links {
    display: flex;
    justify-content: space-evenly;
}


.logo{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

.listedProject{
    display: flex;
    align-items: baseline;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}