@import "/static/views/styles/theme.css";

body {
    margin: 0;
}


#root {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    max-width: 90vw;
    max-height: 45vh;
    width: 90vw;
    height: 45vh;
    display: flex;
    flex-direction: row;
}

#welcome-banner {
    display: flex;
    flex-direction: column-reverse;
    max-width: 50vw;
    width: 50vw;
}

#language-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    width: 30vw;
    max-height: 100%;
    padding: 1rem;
}

#languages-div {
    display: flex;
    flex-direction: row;
    
    width: 90%;
    height: 90%;

    padding: 5%;

    border-radius: 15px;
    background-color: var(--primary-color);
}

#link-block {
    display: flex;
    max-width: 10vw;
    width: 10vw;
}