body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




#root {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.4s, color 0.4s;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}

#social {
  display: flex;
  gap: 5px;
}

.tray {
  border-radius: 2px;
    padding: 20px;
    max-width: 20em;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
}



.theme-checkbox {
  --toggle-size: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--lightTheme-color)), color-stop(50%, var(--darkTheme-color))) no-repeat;
  background: -o-linear-gradient(left, var(--lightTheme-color) 50%, var(--darkTheme-color) 50%) no-repeat;
  background: linear-gradient(to right, var(--lightTheme-color) 50%, var(--darkTheme-color) 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--lightTheme-color)), color-stop(50%, var(--darkTheme-color))) no-repeat;
  background: -o-linear-gradient(left, var(--lightTheme-color) 50%, var(--darkTheme-color) 50%) no-repeat;
  background: linear-gradient(to right, var(--lightTheme-color) 50%, var(--darkTheme-color) 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.SocialBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: var(--primary-color);
  outline: 3px var(--primary-color) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms; 
}

.SocialBtn svg path {
  transition: 400ms;
  fill: var(--text-color);
}

.SocialBtn:hover {
  background-color: var(--secondary-color);
  outline-color: var(--secondary-color);
}


.SocialBtn:hover svg path {
  fill: var(--text-color);
}