
#columned-content {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70vh;
}

.column {
    display: flex;
    flex-direction: column;
    width: 35vw;
    align-items: center;
}

#right-column {
    justify-content: space-between;
}

#left-column {
    justify-content: space-around;
}

.column-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 30vw;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.column-block .title {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: .1rem solid var(--secondary-color);
}

#about-div {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience-div {
    width: 80%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#languages-div {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: .25rem;
    margin-left: 0rem;
}


#langauges-title {
    border-bottom: .1rem solid var(--secondary-color);
    padding: .5rem;
}

#languages-display {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

  
.language svg path {
    fill: var(--secondary-color);
 }