.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: var(--background-color);
    outline: 3px var(--background-color) solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms; 
  }
  
  .contact svg path {
    transition: 400ms;
    fill: var(--accent-color);
  }
  
  .contact:hover {
    background-color: var(--secondary-color);
    outline-color: var(--secondary-color);
  }
  
  
  .contact:hover svg path {
    fill: var(--text-color);
  }
  