
#projects-display {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 55vh;
    
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    gap: 1rem;

}

.project-card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-details {
    display: flex;
    flex-direction: row;
}