[theme="light"] {
  --background-color: #98D8EF;
  --primary-color: #EAE2C6;
  --secondary-color: #BFBBA9;
  --accent-color: #ADA991;
  --text-color: #000000;
}
[theme="dark"] {
  --background-color: #272829;
  --primary-color: #61677A;
  --secondary-color: #D8D9DA;
  --accent-color: #FFF6E0;
  --text-color: #000000;
}



:root{
--darkTheme-back: #61677A;
--lightTheme-back: #98D8EF;
}

.theme-checkbox {
  --toggle-size: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--lightTheme-back)), color-stop(50%, var(--darkTheme-back))) no-repeat;
  background: -o-linear-gradient(left, var(--lightTheme-back) 50%, var(--darkTheme-back) 50%) no-repeat;
  background: linear-gradient(to right, var(--lightTheme-back) 50%, var(--darkTheme-back) 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--lightTheme-back)), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, var(--lightTheme-back) 50%, var(--darkTheme-back) 50%) no-repeat;
  background: linear-gradient(to right, var(--lightTheme-back) 50%, var(--darkTheme-back) 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

#column-divider {
  border: .5px solid var(--accent-color);
}
  
#contacts-dv {
  padding: 20px;
  border-radius: 60px 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  background-color: var(--primary-color);
}

.contacts-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-color);
}


.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: var(--primary-color);
  outline: 3px var(--primary-color) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms; 
}
  
.contact svg path {
  transition: 400ms;
  fill: var(--accent-color);
}

.contact:hover {
  background-color: var(--background-color);
  outline-color: var(--background-color);
}


.contact:hover svg path {
  fill: var(--accent-color);
}
