body {
  margin: 0;
  font-family: Consolas;
}


#root{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-950);
  color: var(--text-50);
}

.page {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 2cqh 2cqw;
  box-sizing: border-box;
}

#app {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  max-height: 90%;
  width: 100vw;
  max-width: 100vw;
}

/* Main block is the div used for selected content. All content that should be displayed will replace the inner html */
/* All CSS for the content displayed within main is wihtin the respective folders inside views */
#main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  max-height: 100%;
  max-width: 90%;
}

#side-block {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 10%;
  max-width: 10%;
  height: 100%;
  max-height: 100%;
  
}



#nav-block {

  height: 85%;
  width: 80%;
  max-width: 80%;
  background-color: var(--panel-bg);
  border-radius: 1px;
  padding: 1cqw .75cqh;
  box-shadow: .2cqh .2cqh .5cqh black;
}

#nav-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  width: 90%;
}

.nav-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 1rem;

}


#stage-select {
  flex-direction: column;
  justify-content: start;
  
}

#prime-nav {
  flex-direction: column;
  justify-content: start;
  
}

#outside-links {
  flex-direction: column;
  justify-content: end;
}

#nav-footer {
  flex-direction: row;
  justify-content: center;
  height: 10%;
  max-height: 10%;
  max-width: 100%;
}


.nav-btn {
  --nav-btn-width: 6cqw;
  --nav-btn-height: 4.5cqh;
  width: var(--nav-btn-width);
  height: var(--nav-btn-height);
  max-height: var(--nav-btn-height);
  max-width: var(--nav-btn-width);

  padding: 0.6em 1.3em;
}

.page-select.selected {
  background-color: var(--secondary);
  color: var(--background-950);
}

.nav-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.nav-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.all-nav-btns {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background-950);
  font-family: inherit;
  font-weight: 900;
  font-size: 1.5cqh;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em black;
}





.footer-btn {
  --foot-btn-width: 2.5cqw;
  --foot-btn-height: 5cqh;
  width: var(--foot-btn-width);
  height: var(--foot-btn-height);
  max-width: var(--foot-btn-width);
  max-height: var(--foot-btn-height);
  display: flex;
  align-self: center;
  overflow: hidden;
}


.contact-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em black;
}

.contact-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em black;
}

.theme-switch {
  position: relative;
  box-sizing: border-box;

}

.theme-switch .checkbox {
  opacity: 0;
}

.theme-switch .checkbox:checked ~ .moon {
  transform: rotate(180deg);
  opacity: 0;
}

.theme-switch .checkbox:checked ~ .sun {
  transform: translateY(-.3cqh) rotate(180deg);
  opacity: 1;
}

.theme-switch .moon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: .4em;
  transition: .5s;
}

.theme-switch .sun {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: .4em;
  transition: .5s;
  opacity: 0;
}

@media (max-width: 1600px) {
  .nav-btn{
    font-size: 1cqi;
  }
}
