#projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#projects-display {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--panel-bg);

}

